#tituloP{
    color: red;
}
#area{
    font: normal 20pt Arial;
    background: rgb(79, 79, 230);
    color: white;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}