@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

*{
	margin: 0;
	padding:0;
	outline: none;
	vertical-align: baseline;
	box-sizing: border-box;
	text-decoration: none;
}

html,body{
	width: 100%;
	height: 100%;
	background: #f1f1f1;
	position: relative;
	font-size: 20px;
	font-family: 'Robotos', sans-serif;
}

.head{
	display: flex;
	position: fixed;
	top:0;
	width: 100%;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	background: #3084db;
	z-index: 9999;
}

.menu {
	flex: 1;
	width: 100%;
	height: auto;
}

.menu ul{
	margin: 0;
	height: 100%;
	text-align: right;
	list-style: none;
}

.menu li{
	display: inline-block;
	height: 75px;
}

.menu li a{
	display: block;
	padding: 25px 20px;
	font-size: 20px;
	height: 100%;
	text-decoration: none;
	color:rgba(255,255,255,.8);
	text-align:center;
	font-weight: lighter;
	text-shadow: 0 1px 1px #242424;
	border-bottom: 2px solid transparent;
	transition: all .5s ease;

}

.menu li:hover a{
	color: #fff;
	border-color: #fff;
	box-shadow: inset 0 -5px 5px -3px rgba(255,255,255,.3);

}

.content{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 75px 0 0 0;
}

.content-home{
	flex-flow: row nowrap;
}

h1{
	color:#000;
	padding: 16px;
	font-size: 40px;
}

.logo{
	flex: 0 auto;
	display: inline-block;
	max-width: 100%;
	height: 75px;
}

footer{
	margin: 20px 0 0 0;
	position: relative;
	clear: both;
	display: block;
	bottom: 0;
	text-align: left;
	padding: 20px 0;
}
/*style pagina sobre*/

.anjo{
	background: #fff;
	padding: 16px;
}

.anjo img{
    float: left;
    border: transparent thin solid;
    margin: 0 12px 0 0;

}

.anjo p{
	text-align: justify;

}



/*style pagina fotos*/

#tabela{
	height: 850px;
}

input[type= "text"],textarea[type="textarea"],[type="email"]{
	display:block;
	width:350px;
	margin: 0;
	line-height: 25px;
	border:3px solid #708090;
	border-radius: 5px;
	text-indent: 5px;
	font-size: 15px;
}

input:focus{
	border-color:#3084db;
	outline: none;
}

input[type="text"]:hover,textarea[type="textarea"]:hover,[type="email"]:hover{
	border: 3px solid #3084db;
}

input[type="submit"]{
	display:inline-block;
	font-size: 15px;
	padding:5px;
	width:90px;
	background-color: #999;
	color:#fff;
	border-radius: 6px;
	border:2px solid #708090
}

input[type="submit"]:hover{
	background-color: #708090;
	color:#000;
	cursor: pointer;
	border: 2px solid #3084db;
}

.container{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 5em 1em;
}

/*style pagina contato*/

.contat{
	flex: 0 auto;
  	height:300px;
}

#mapa{
	flex: 0 auto;
	width: 800px;
	height: 600px;
	border: transparent thin solid;
	margin: 0 12px 0 0;
}

#btLocalizar{
	text-align: left;
	background-color: #fff;
}

.news{
	flex: 0 auto;
	width: 900px;
	padding: 16px;
}

.news article{
	background: #fff;
	padding: 16px;
	border: none;
}

.news article + article{
	border-top: 1px solid #ccc;
}

.ncontent{
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	margin: 12px 0;
}

.ncontent img{
	margin: 0 12px 0 0;
}

.lastnews{
	flex: 1;
	height: 150px;
	padding: 0 20px;
}

.gale{
		flex-flow: column;
		align-items: center;
}

.gale h1{
	flex: 1 100%;
	width: 100%;
}

.gale hr{
	height: 1px;
    width: 914px;
    border: none;
    background: #242424;
    margin: 5px 0;
}

.gale h2{
	text-align: center;
}

.gale table{
	flex: 1 100%;
}